.author__inner {
  @include container;
}

.author__border {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  border: 3px solid $accent-color;
}

.author__title {
  margin-top: 2px;
}

.author__desc {
  margin-top: 12px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
}

.author__text {
  margin-bottom: 0;
}

.author__img {
  order: -1;

  line-height: 0; //фиксит лишний пробел у картинки
}

@media screen and (max-width: $mobile) {
  .author {
    padding-top: 140px;

    background: radial-gradient(30em at right 20% center, rgba($add-color, 0.1), transparent 50%);
  }

  .author__inner {
    max-width: 450px;
  }

  .author__border {
    flex-direction: column;
  }

  .author__content {
    width: 254 / $mobile-content * 100%;
    margin-top: 20px;
    margin-bottom: 70px;

    text-align: center;
  }

  .author__text {
    margin-top: 35px;
  }

  .author__img {
    margin-top: -143px;
  }
}

@media screen and (min-width: $tablet) {
  .author {
    padding-top: 114px;

    background: radial-gradient(30em at left 49% center, rgba($add-color, 0.1), transparent 50%);
  }

  .author__inner {
    max-width: 915px;
  }

  .author__content {
    width: 345 / 574 * 100%; //процент от ширины элемента author__border (580) на планшете минус толщина рамок (6)
    margin: 0 auto;
    padding-top: 20px; //чтобы при переполнении контентом, текст не прилипал к краям
    padding-bottom: 20px;
  }

  .author__border {
    min-height: 494px;
    margin-left: 140px;
  }

  .author__title::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    margin-top: 15px;
    margin-left: -100px;

    background-color: $add-color;
    opacity: 0.1;
  }

  .author__text {
    margin-top: 15px;
  }

  .author__desc {
    margin-top: 20px;
  }

  .author__img {
    margin-left: -143px; //с учетом ширины рамки
  }
}

@media screen and (min-width: $desktop) {
  .author__inner {
    width: 915 / 1200 * 100%;
    max-width: 1000px;
  }

  .author__border {
    min-height: 600px;
    margin-left: 182px;
  }

  .author__content {
    width: 390 / 727 * 100%;
  }

  .author__title::after {
    width: 400px;
    margin-top: 0;
    margin-left: -190px;
  }

  .author__text {
    margin-top: 50px;
  }

  .author__img {
    margin-left: -185px;
  }
}
