.subtitle {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  font-weight: 300;
  color: $accent-color;
  text-transform: uppercase;

  text-shadow: 0px 3px 27px rgba(249, 148, 6, 0.59);
}
