@mixin list-reset {
  padding: 0;

  list-style: none;
}

@mixin container {
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    width: $mobile-content-percent;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet-content-percent;
  };

  @media screen and (min-width: $desktop) {
    width: $desktop-content-percent;
    max-width: $max-width;
  }
}
