@mixin outline {
  outline: 1px dotted yellow;
  @media screen and (min-width: $tablet) {
    outline-color: red;
  }
  @media screen and (min-width: $desktop) {
    outline-color: blue;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container {
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    box-sizing: border-box;
    min-width: $min-width;
    width: 100%;
    padding: 0 (15 / 320 * 100%);
  }

  @media screen and (min-width: $tablet) {
    width: $max-width-tablet;
  };

  @media screen and (min-width: $desktop) {
    max-width: $max-width;
    width: $max-width-desktop;
  }
}
