$font-family: Roboto, Arial, sans-serif;

$font-color-base: #bdbdbd;
$title-color: #ffffff;
$background-color: #0b1119;
$accent-color: #f99406;
$add-color: #ffffff;
$placeholder-color: #afafaf;
$text-button-color: #ffffff;
$button-hover-color: #f7a83a;
$button-active-color: #db8000;

$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;

$mobile-content: 290;
$tablet-content: 720;
$desktop-content: 1140;

$mobile-content-percent: $mobile-content / 320 * 100%;
$tablet-content-percent: $tablet-content / 768 * 100%;
$desktop-content-percent: $desktop-content / 1200 * 100%;

$min-width: 320px;
$max-width: 1600px;
